body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            background: #f4f4f4;
            overflow-x: hidden;
            }
            h3 {
            margin: 20px;
            margin-left: 0px;
            }
            p {
            margin: 20px;
            font-size: 13px;
            }
            .content {
            max-width: 1200px;
            margin: auto;
            background: #fff;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            }
            .extra-detail-container {
            display: block;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            }
            .detail-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            }
            .carousel {
            position: relative;
            max-width: 100%;
            overflow: hidden;
            }
            .carousel-images img {
            width: 100%;
            display: none;
            }
            .carousel img {
width: 100%;
    height: 400px; /* Adjust height automatically */
    object-fit: fill; /* Maintain aspect ratio without cropping */
            }
            .carousel button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0,0,0,0.5);
            color: white;
            border: none;
            cursor: pointer;
            padding: 10px;
            z-index: 100;
            }
            .carousel .prev { left: 10px; }
            .carousel .next { right: 10px; }
            ul {
            list-style: none;
            padding: 0;
            }
            li {
            margin-bottom: 10px;
            line-height: 1.6;
            padding-left: 20px;
            position: relative;
            font-size: 13px;
            }
            li::before {
            content: '➔';
            position: absolute;
            left: 0;
            color: black;
            font-size: 13px;
            }
            @media (max-width: 768px) {
 .carousel {
        height: 400px; /* Allow the carousel to resize based on content */
 object-fit: fill;
    }

    .carousel img {
        height: 400px; /* Smaller fixed height on smaller screens */
        object-fit: fill; /* Change to contain to avoid cropping */
    }
            .detail-container, .extra-detail-container {
            grid-template-columns: 1fr;
            }
            }
@media (max-width: 480px) {
    .carousel img {
        height: 400px; /* Even smaller height for very small screens */
    }
}
